.box.box-panel {
    .box-title,
    .box-content {
        background: $brooklands-blue;
        color: #fff;
        border: none;
    }

    .box-title {
        padding: $grid-gutter-sm $grid-gutter-sm 0 $grid-gutter-sm;
    }

    .box-content {
        padding: $grid-gutter-sm;

        p, ul, ol, li, a, span {
            color: $white;
        }
    }
}

