.btn,
.btn-lg,
.btn-md {
    color: $brooklands-blue;
    display: inline-block;
    background: none;
    border: 2px solid $brooklands-blue;
    text-align: center;
    font-size: 1.05em;
    text-transform: uppercase;
    transition: all 150ms;
    border-radius: 1px;
    padding: .9em;

    &.btn-light {
        border-color: $white;
        color: $white;
    }

    &:hover {
        background: $brooklands-blue;
        color: $white;
    }
}
