
.btn,
.read-more {
    font-family: $base-font-family;
    text-transform: uppercase;
    font-weight: 400;
}

.btn-green {
    background-color: $palette-3;

    &:hover {
        background-color: darken($palette-3, 5%);
    }
}
