
$flex-padding: 60px;

.flexible-container {

    position: relative;

    @media screen and #{$screen-md-up} {

        padding: $flex-padding*2 0;

        &:after,
        .section-image {
            @include cover();
            content: "";
            z-index: 5;
            background-color: #eee;
            background-size: cover;
            background-position: center;
        }
    }

    @media screen and #{$screen-below-md} {

        padding: $flex-padding/2 0;

        .section-image-mobile {
            background-size: cover;
            margin-bottom: $flex-padding/2;
        }

        &.overlay .section-image {
            @include cover();
            content: "";
            z-index: 5;
            background-color: #eee;
            background-size: cover;
            background-position: center;
        }
    }

    .section-image {
        z-index: 7;
    }

    .modularity-edit-module {
        z-index: 15;
    }

    &.img-left {
        &:after,
        .section-image {
            right: 50%;
            @media screen and #{$screen-below-lg} {
                right: 61%;
            }
        }

        .grid {
            justify-content: flex-end;
        }
    }

    &.img-right {

        &:after,
        .section-image {
            left: 50%;
            @media screen and #{$screen-below-lg} {
                left: 61%;
            }
        }

        .grid {
            justify-content: flex-start;
        }
    }

    &.overlay {
        color: $white;

        &:before {
            @include cover();
            @include backdrop-blur();
            content: "";
            background: rgba($brooklands-blue, .7);
            z-index: 8;
        }

        &.text-position-left .grid {
            justify-content: flex-start;
        }

        &.text-position-right .grid {
            justify-content: flex-end;
        }

        &.text-position-center .grid {
            justify-content: center;
            text-align: center;
        }

        .btn {
            border-color: $white;
            color: $white;

            &:hover {
                background-color: rgba($white,.2);
            }
        }
    }

    &.img-focus-center:after,
    &.img-focus-center .section-image {
        background-position: center;
    }

    &.img-focus-left:after,
    &.img-focus-left .section-image {
        background-position: center left;
    }

    &.img-focus-right:after,
    &.img-focus-right .section-image  {
        background-position: center right;
    }

    > .container {
        position: relative;
        z-index: 10;
    }

    p + .btn,
    p .btn {
        margin-top: 15px;
    }

    .btn,
    .btn-lg,
    .btn-md {
        color: $brooklands-blue;
        display: block;
        background: none;
        border: 2px solid $brooklands-blue;
        text-align: center;
        font-size: 1.05em;
        text-transform: uppercase;
        transition: all 150ms;
        border-radius: 1px;
        padding: .9em;

        &:hover {
            background: $brooklands-blue;
            color: $white;
        }
    }

}

.flex-section + .flex-section {
    margin-top: 0;
}

