.pagination-section {
    background-color: $palette-2;
    margin-top: 0;
    padding: 40px 0;
    line-height: 1;
}

.page-numbers {
    background-color: transparent;
    border: none;
    font-size: 1.5em;

    li {
        line-height: 1;
    }

    a:not(.next):not(.prev) {
        width: auto;
        height: auto;
    }

    a:hover,
    a:focus {
        text-decoration: underline;
        background-color: transparent;
        color: $base-font-color;
    }

    &.current {
        background-color: transparent;
        color: $palette-3;
        text-shadow: 0 1px 0 rgba(#000, .3);
    }
}
