&.page-template-campaign-blade {
    .footer-scroller {
        display: none;
    }
}

.footer-scroller {
    display: none;
    position: relative;
    background-color: $brooklands-lgray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
    overflow: hidden;

    &.no-gradient {
        height: 200px;
    }

    .scroll-elevator {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        transform: translateY(100%);
        transition: transform 1s;
        padding: 20px 0;

        a {
            display: inline-block;
            background-color: transparent;
            height: auto;
            box-shadow: none;
            border-radius: 0;
            color: $white;
            font-size: 1.2em;
            text-transform: uppercase;
            font-weight: bold;

            i {
                animation: 1000ms float ease-in-out infinite;
                position: relative;
                display: block;
            }

            span {
                display: block;
            }
        }
    }

    &:not(.no-gradient) .scroll-elevator {
        @include gradient(rgba(#000, 0), rgba(#000, .8));
    }
}

&.show-scroll-elevator .footer-scroller .scroll-elevator {
    transform: translateY(0);
}

@keyframes float {
    0% {
        top: -4px;
    }
    50% {
        top: 0;
    }
    100% {
        top: -4px;
    }
}


footer.main-footer {
    background-color: $brooklands-blue;
    color: $white;
    margin-top: 0;
    box-shadow: none;
    text-align: center;

    a,
    a:hover,
    a:active,
    a:visited {
        color: $white;
    }

    svg path,
    svg use,
    svg circle,
    svg glyph,
    svg text {
        fill: $white;
        transition: fill 300ms;
    }

    .box .box-title {
        background-color: transparent;
    }

    ul {
        list-style: none;
        padding-left: 0;

        li:before {
            display: none;
        }
    }

}
