.header-gutter {
    padding-top: 80px;
}

#site-header {
    position: fixed;
    z-index: 200;
    width: 100%;
    padding-top: 0;
    top: 0px;
    left: 0;
    transition: all 200ms;
    animation: fadein 2s;

    nav.navbar {
        background-color: transparent;
        transition: padding 200ms;
        padding: 15px 0;
    }

    nav.navbar [data-tooltip] {

        &:after {
            border-radius: 0px;
            padding: 7px 10px;
            background-color: $white;
            color: $black;
            text-transform: uppercase;
            opacity: .9;
            transition: all 100ms;
        }

        &:before {
            border-bottom-color: $white;
            opacity: .9;
            transition: all 100ms;
            bottom: -8px;
        }

        @media screen and (max-width: #{$screen-md-max}) {
            &:after,
            &:before {
                display: none;
            }
        }
    }

    #main-menu {
        font-size: 0.95em;

        li {
            text-transform: uppercase;

            a {
                color: $white;
                line-height: 1;

                &:before {
                    background-color: $white;
                    bottom: 0;
                }

            }

            &.current-menu-item {
                a {
                    color: $white;
                    border-color: $white;

                    &::before {
                        visibility: visible;
                        transform: scaleX(1);
                    }

                    &::after {
                        display: none;
                    }
                }
            }
        }
    }

    .menu-trigger {
        display: table-cell;
        width: 1%;
        vertical-align: middle;
    }

    .logotype {
        transition: opacity 300ms;
        z-index: 800;
        margin-right: 20px;
        display: table-cell;
        vertical-align: middle;

        @media screen and (min-width: #{$screen-lg-max}) {
            float: left;
        }

        svg, img {
            transition: height 200ms, background 300ms;
            height: 60px;
            width: 140px;
            max-width: none;
        }

        svg path,
        svg use,
        svg circle,
        svg glyph,
        svg text {
            fill: $white;
            transition: fill 300ms;
        }

        &:after, &:before {
            opacity: 0;
            transition: 200ms opacity;
        }

        @media #{$screen-below-sm} {
            padding-right: 20px;

            img, svg {
                height: 9vw;
                width: 9vw;
            }
        }

        @media screen and (max-width: #{$screen-lg-max}) and (min-width: #{$screen-lg-min}) {
            margin: 5px auto;
            display: inline-block !important;
        }
    }

}

#site-header.liquid-header,
&.menu-open #site-header,
&.no-js #site-header {
    background-color: rgba($brooklands-blue,.7);

    .logotype {
        @media screen and (min-width: #{$screen-md-min}) {
            svg, img {
                height: 50px;
                width: 117px;
                max-width: none;
            }
        }
    }

    nav.navbar [data-tooltip] {
        &:after {
            background-color: rgba($white,.7);
            color: #fff;
        }

        &:before {
            border-bottom-color: rgba($white,.7);
            opacity: 1;
            bottom: -8px;
        }
    }

    nav.navbar svg.hbg-icon {
        opacity: 1;
        fill: $white;
    }

    nav.navbar {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #header-tabs {
        height: 0;
        opacity: 0;
    }
}
