.header-gutter {
    padding-top: 80px;
}

#site-header {
    position: fixed;
    z-index: 200;
    width: 100%;
    padding-top: 0;
    top: 0px;
    left: 0;
    transition: all 200ms;
    animation: fadein 2s;

    nav.navbar {
        background-color: transparent;
        transition: padding 200ms;
        padding: 15px 0;
    }

    nav.navbar [data-tooltip] {

        &:after {
            border-radius: 0px;
            padding: 7px 10px;
            background-color: $white;
            color: $black;
            text-transform: uppercase;
            opacity: .9;
            transition: all 100ms;
        }

        &:before {
            border-bottom-color: $white;
            opacity: .9;
            transition: all 100ms;
            bottom: -8px;
        }

        @media screen and (max-width: #{$screen-md-max}) {
            &:after,
            &:before {
                display: none;
            }
        }
    }

    .logotype {
        transition: opacity 300ms;
        z-index: 800;
        display: table-cell;
        vertical-align: middle;

        @media screen and (min-width: #{$screen-lg-max}) {
            float: left;
        }

        svg, img {
            transition: height 200ms, background 300ms;
            height: 50px;
            width: auto;
            max-width: none;
            filter: drop-shadow( 0 0 2px rgba(#000,.2));
        }

        svg path,
        svg use,
        svg circle,
        svg glyph,
        svg text {
            fill: $white;
            transition: fill 300ms;
        }

        &:after, &:before {
            opacity: 0;
            transition: 200ms opacity;
        }

        @media #{$screen-below-sm} {
            width: 50%;
            img, svg {
                height: 40px;
            }
        }

    }

}

#site-header.liquid-header,
&.menu-open #site-header,
&.no-js #site-header {
    @include backdrop-blur();
    background-color: rgba($brooklands-blue,.7);

    nav.navbar [data-tooltip] {
        &:after {
            background-color: rgba($white,.7);
            color: #fff;
        }

        &:before {
            border-bottom-color: rgba($white,.7);
            opacity: 1;
            bottom: -8px;
        }
    }

    nav.navbar {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    @media screen and (max-width: #{$screen-md-max}) {
        nav.navbar {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
