
.menu-icon:not(.open),
.menu-icon:before,
.menu-icon:after {
    background-color: #fff;
}

.navbar .current-menu-item a:after,
.navbar .current-page-ancestor a:after {
    display: none;
}

.navbar-mainmenu {
    display: table;
    width: 100%;
    margin-top: 0;

    @media screen and (max-width: #{$screen-lg-max}) and (min-width: #{$screen-lg-min}) {
        text-align: center;
        display: block;
    }

    .nav {
        text-align: left;
    }

    a {
        color: #fff;
    }
}

.navbar .current-page-ancestor a {
    text-decoration: none;
}

#main-menu {
    transition: margin 200ms;
    margin-top: 0;
    @media screen and (max-width: #{$screen-lg-max}) and (min-width: #{$screen-lg-min}) {
        clear: both;
        display: block;
        text-align: center;
    }

    li {
        display: inline-block;
        padding: 0 5px;

        > a {
            @include textrendering();
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 600;
            font-size: 1em;
            color: #fff;
            margin: 0;
            padding: 3px 0;
            position: relative;
            transition: color 200ms, background 200ms, border 200ms, margin 200ms;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 6px;
                left: 0;
                background-color: #fff;
                visibility: hidden;
                transform: scaleX(0);
                transition: all 0.3s ease-in-out 0s;
            }

            &:after {
                display: none !important;
            }

            &:hover {
                background: none;
                color: #fff;
                text-decoration: none;

                &:not(.search-icon-btn):not(.translate-icon-btn)::before {
                    visibility: visible;
                    transform: scaleX(1);
                }
            }
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.menu-item-translate,
.menu-item-search {
    margin-left: 10px;
}

.menu-item-search {
    padding: 0 5px;
}

#main-menu li.menu-item-social {
    float: none !important;

    @media (min-width: $screen-lg-max) {
        float: right !important;
    }

    margin: 0;
    padding: 0;
    margin-left: 5px;

    a:hover {
        &::after,
        &::before {
            display: none;
        }
    }

    svg {
        max-height: 25px;
        opacity: 1 !important;
    }

    svg,
    svg * {
        transition: 200ms all;
        fill: #fff;
    }
}

.liquid-header #main-menu li.menu-item-social {
    svg,
    svg * {
        fill: $black;
    }
}

#main-menu li.menu-item-social + li.menu-item-search {
    padding-right: 3px !important;
}

@media (max-width: $screen-lg-max) {
    #main-menu li.menu-item-search {
        float: none;
        margin-left: 0;
    }

    #main-menu li.menu-item-social + li.menu-item-social {
        margin-left: 0;
    }
}

.nav-aside {
    border: none;

    li {
        border: none;
    }

    li + li {
        border: none;
    }

    a {
        position: relative;
        font-family: $base-font-family;
        font-weight: bold;
        font-size: 1.2em;
        padding: 3px 0;
        transition: 200ms all;

        &:hover {
            color: $palette-3;
            text-indent: 10px;
        }
    }

    .current,
    .current-menu-item,
    .current-node {
        background-color: transparent;
    }

    .sub-menu {
        border-top: none;
        border-left: 1px solid $creamy-darker;

        a {
            font-size: 1em;
            padding-left: 15px;
        }

        .current-menu-item > a::before,
        .current > a::before {
            width: 1px;
            left: -1px;
            background-color: $palette-3;
        }
    }
}
