.header-jumbo .navbar {
    #main-menu {
        font-size: 0.95em;

        li {
            text-transform: uppercase;
            height: 70px;
            line-height: 70px;

            a {
                @include textrendering();
                display: inline-block;
                color: $white;
                line-height: 1;
                padding: 10px 10px;
                height: auto;
                transition: 200ms background;
                border-radius: 1px;
                text-shadow: 0 0 3px rgba(0,0,0,.2);
            }

            &.current-menu-item a,
            a:hover {
                background: rgba($white, .2);
                text-decoration: none;

                &::after {
                    display: none;
                }
            }
        }
    }

    .nav-group-overflow .dropdown {
        line-height: 70px;
        height: 70px;
        margin-top: 0;
    }

    .btn.btn-primary.dropdown-toggle {
        background: rgba($white, .2);
        text-decoration: none;
        border: none;
        padding: 10px;
        line-height: 10px;
        text-transform: uppercase;
        transition: 200ms background;

        &:before {
            background: rgba($white,.3);
        }
    }
}



@media screen and (max-width: #{$screen-md-max}) {

    .navbar.navbar-mainmenu .container .grid .grid-sm-12 {
        display: table !important;
        max-width: 100% !important;
    }

    .site-header .logotype {
        max-width: 50%;
        padding: 0;
    }

}
