nav#mobile-menu {
    @include backdrop-blur();
    animation: fadein 500ms;

    form {
        display: none;
    }

    ul {
        background-color: rgba($brooklands-blue,.9);
        min-height: 100vh;

        li {
            & + li {
                border-top: 1px solid rgba(#fff,.1);
            }

            a {
                @include textrendering();
                font-family: $base-font-family;
                font-size: 1.2em;
                font-weight: 300;
                transition: background 200ms;

                &:hover {
                    background: darken($brooklands-blue,5%);
                }
            }

            &.active,
            &.current-menu-item {
                background: rgba(#fff,.05);
                a {
                    background: transparent;
                }
            }
        }
    }
}

@media screen and (max-width: #{$screen-xs-max}) {
    .site-header.header-jumbo {
        .menu-trigger {
            margin-top: 7px;
        }
    }
}

@media screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-max}) {
    .site-header.header-jumbo {
        .menu-trigger {
            margin-top: 12px;
        }
    }
}
