nav#mobile-menu {
    @include backdrop-blur();
    animation: fadein 500ms;
    padding: $grid-gutter-md 0 $grid-gutter-lg 0;

    form {
        display: none;
    }

    ul.nav-mobile {
        background-color: transparent;
        animation: fadein 500ms;
        margin-top: -7px;

        li {
            & + li {
                border-top: none;
            }

            a,
            a:hover,
            a:active,
            a:visited {
                @include textrendering();
                font-family: $headline-font-family;
                font-size: 1.2em;
                font-weight: 300;
                transition: background 200ms;
                color: $black;
                text-transform: uppercase;
                padding: 7px 0;
            }

            &:hover,
            &:active {
                background: none;
                color: $black !important;
                > a,
                > a:hover,
                > a:active,
                > a:visited {
                    background: none;
                    color: $brooklands-lgray !important;
                }
            }

            &.active,
            &.current-menu-item {
                background: none;
                color: $brooklands-lgray !important;
                > a,
                > a:hover,
                > a:active,
                > a:visited {
                    color: $brooklands-lgray !important;
                }
            }
        }
    }
}

.menu-trigger {
    text-transform: uppercase;
    margin-top: 70px;

    .menu-icon {
        height: 2px;
        margin-left: 20px;

        &:after,
        &:before {
            height: 2px;
        }
    }
}

@media screen and (max-width: #{$screen-xs-max}) {
    .site-header.header-jumbo {
        .menu-trigger {
            margin-top: 7px;
        }
    }
}

@media screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-max}) {
    .site-header.header-jumbo {
        .menu-trigger {
            margin-top: 12px;
        }
    }
}

