nav#mobile-menu {
    @include backdrop-blur();
    animation: fadein 500ms;
    padding: $grid-gutter-md 0 $grid-gutter-lg 0;

    form {
        display: none;
    }

    ul {
        background-color: transparent;
        animation: fadein 500ms;
        //animation-delay: 500ms;

        li {
            & + li {
                border-top: 1px solid rgba($black,.1);
            }

            a {
                @include textrendering();
                font-family: $base-font-family;
                font-size: 1.2em;
                font-weight: 300;
                transition: background 200ms;
                color: $black;
            }

            &.active,
            &.current-menu-item {
                background: rgba($white,.05);
                a {
                    background: transparent;
                }
            }
        }
    }
}

.menu-trigger {
    text-transform: uppercase;
    margin-top: 70px;

    .menu-icon {
        height: 2px;
        margin-left: 20px;

        &:after,
        &:before {
            height: 2px;
        }
    }
}

@media screen and (max-width: #{$screen-xs-max}) {
    .site-header.header-jumbo {
        .menu-trigger {
            margin-top: 7px;
        }
    }
}

@media screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-max}) {
    .site-header.header-jumbo {
        .menu-trigger {
            margin-top: 12px;
        }
    }
}

