$base-font-color: #000;

// ***************************************************************
// *** Gray palette
// ***************************************************************
$palette-1: #000;
$palette-2: rgb(233,229,214);
$palette-3: rgb(185,193,45);

// ***************************************************************
// *** Creamy
// ***************************************************************
$creamy: #f6f5f2;
$creamy-darker: #e7e5e1;

// ***************************************************************
// *** Grays
// ***************************************************************
$gray-dark: #535353;
$gray: rgb(102,102,102);
$gray-light: #7f7f7f;
$black: #000;
$white: #fff;
